@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --font: 'Epilogue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    
}

body {
    background-color: var(--Almost-White);
}

/* desktop */
.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    z-index: 1;
    
    
}

a, li, p {
    color: var(--Medium-Gray);
    text-decoration: none;
    font-weight: 500;
    list-style: none;
}

.header-desktop nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    align-items: center;
    display: flex;
   
}

a:hover {
    color: var(--Almost-Black);
}
.nav-links li {
    padding-left: 2rem;
    
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-content-features {
   
    position: absolute;
    background-color: white;
    top: 2.2rem;
    left: -10%;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 1rem;
    z-index: 1; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}



.dropdown-content-features .dropdown-link {
    display: flex;
    column-gap: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.dropdown-link, i {
    font-size: 0.9rem;
}

.arrow {
    padding-left: 6px;
}
.dropdown-content-career {
    position: absolute;
    background-color: white;
    top: 2.2rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 1rem;
    z-index: 1; 
    width: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dropdown-content-career .dropdown-link {
    display: flex;
     column-gap: 15px;
     padding-top: 12px;
     cursor: pointer;
     
 }


 .active {
    display: block;

 }
.forms {
    display: flex;
    align-items: center;
   
}

.forms li {
    padding-left: 3rem;
}

.forms a.register {
    border: 2px solid var(--Medium-Gray);
    padding: 10px 20px;
    border-radius: 10px;
}

.forms a.register:hover {
    border-color: 2px solid var(--Almost-Black);
}

.menu-btn {
    display: none;
}

.hero-mobile {
    display: none;
}
/* main start */


.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: -.5%;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.main-title {
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-left: -4%;
}

.main-para {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    margin-left: -4%;
    
}

.more {
   background-color: var(--Almost-Black);
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--Almost-White);
    margin-left: -4%;
}
.more:hover {
    background-color: transparent;
    border: 1px solid var(--Medium-Gray);
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--Almost-Black);
    margin-left: -4%;
    
}

.img-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    margin-top: 7rem;
    margin-left: -4%;
}

.content-right> .hero-desktop{
    width: 450px;
    margin-left: 20%;
    margin-top: -22%;
    margin-left: -1%;
}
/* main end */




/* desktop end */

/* mobile start */

@media (100px <= width <= 800px) {
    
    header.header-desktop {
        height: 8vh;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        
    }
    ul.nav-links, .forms {
        display: none;
    }
   
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .main-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }

    .hero-desktop {
        display: none;
    }
    
    .hero-mobile {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .content-left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }

    .main-title  {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        margin: auto
    }
    .main-title br {
        display: none;
    }

    .main-para {
        font-size: 1rem;
        width: 100%;
        margin: 3rem auto
    }

    .img-list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;
        margin-top: 7rem;
        margin-left: -4%;
        width: 100%;
        height: 100px;
        
        margin: 2rem auto;
    }
  
  /* sibebar start */
}
aside.sidebar {
    position: relative;
    
}

.sidebar-container {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    padding: 20px;
    z-index: 1;
    display: none;
}

.close-btn {
    margin-top: -1%;
    margin-left: 88%;
    
}
.mobile-links {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.mobile-btn {
    text-align: center;
}

.mobile-btn li {
    padding: 1rem;
}

.mobile-btn .mregister {
    
    padding: 10px 3rem;
    border: 2px solid var(--Medium-Gray);
    border-radius: 10px;
}

.mobile-drop {
    width: 100%;
    height: 0%;
    padding: 1rem;
    
    
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mobile-drop li {
    padding: 0.7rem 0;

    
}
.mobile-drop li i {
    margin-right: 1rem;
    font-size: inherit;
}
/* sidebar end */
  /* mobile end */

  /* css for  toggle start*/
  .active {
    display: block !important;
  }
/* 
  .transparent {
    width: 100%;
    background-color: rgba(0, 0, 0, 2);
    
  } */

    /* css for  toggle end*/

    .attribution {
        padding: 1rem;
    }

    /* login style */

    